<%
    let _helper      = require(__path.helper+'/helper.js');
    let _form        = require(__path.helper+'/form.js'); 

    let template    = conf.template.form.edit;
    let selectData  = _form.createSelectData(['status', 'groupAcp'], [true, false]);
    let group       = item.group || {};
    let formData    = [
        {
            label: _form.label('group.id', 'Group', template.label),
            input: _form.select('group.id', groupSelectData, group.id, template.select),   
        },{
            get prepend(){
                let xhtml = '';
                xhtml +=  _form.hidden('_id', item._id);
                xhtml +=  _form.hidden('formType', 'group_edit');
                return xhtml;
            },
            input: _form.submit('Submit', template.submit),   
        },
    ]
    let formAction  = _helper.getUrl(displayConf.prefix.admin, controller, 'save');
    if (item._id) formAction+= '/'+item._id;
%>
<form method="post" action="<%= formAction %>" accept-charset="UTF-8">
    <%- include(__path.views+'/admin/template/generate_inputs.ejs', {formData: formData}) %>
</form>