<% 
    const _template = require(__path.helper+'/template');
    let thumb = _template.getNotFoundThumb();
%> 
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <%- thumb %>
        </div>
    </div>
</div>

