<script id="notify-user" type="x-tmpl-mustache">
    <div class="container-fluid">
        <div class="col-xs-12 center-content">
            {{{ thumb }}}
            <div class="b-notify-msg">
                <span class="b-notify-msg-bold">{{{ username }}} </span>
                {{{ msg }}}
            </div>
        </div>
    </div>
</script>
