<div class="receiver-input-container" >
    <label class="col-md-1 col-xs-0">To:</label>
    <div class="col-md-11 col-xs-12 receiver-input">
        <div class="selected-receivers"> </div>
        <div contenteditable="true" type="text" class="receiver-value"></div>
    </div>
    <input type="hidden" name="selected-receiver-ids" value="[]">
</div>
<div class="dropdown receiver-dropdown">
    <ul class="dropdown-menu">
    </ul>
</div>
