<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="<%= __path.rel_public+'/news_theme/img/about-us.jpg' %>" class="img-fluid">
        </div>
    </div>
</div>