<% if (relevantArticles.length > 0){ %>
    <div class="relavent-story-post-wrap mt-30">
        <h4 class="title">Relavent Stories</h4>
        <div class="relavent-story-list-wrap">
            <% for (let item of relevantArticles){ %>
                    <%- include(__path.views_news+'/partials/single_post.ejs', {item: item, displayCat: true}); %>
            <% } %>
        </div>
    </div>
<% } %>