<% const _template = require(__path.helper+'/template'); %>
<div class="col-12 d-flex align-items-center justify-content-center">
    <a href="<%=catLink%>" class="btn btn-info rounded-0 py-3 px-5" style="font-size: 1.3em"> Read more ... </a>
</div>