<!DOCTYPE html>
<html lang="en">
<head>
	<%- include(__path.views_auth+'/backend/elements/head'); %>        
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<%-body%>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

	<!-- SCRIPTS -->
	<%- include(__path.views_auth+'/backend/elements/scripts'); %>        
</body>
</html>