<% if (Object.keys(user).length > 0) { %>
        <% if (user.group.groupAcp == 'yes') { %>
                <li><a href="<%= displayConf.prefix.admin %>">Admin control panel</a></li>
        <% } %>
<% } %>