<% const _helper = require(__path.helper+'/helper'); %>
<a href="<%= _helper.standardizeLink(`${displayConf.prefix.mess}/delete-all-msgs`) %>" class="btn btn-danger">Delete all messages</a>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Layout</a></li>
    <li class="active">Top Navigation</li>
</ol>