<footer class="main-footer">
    <div class="container">
        <div class="pull-right">
            <b>Version</b> 2.4.0
        </div>
        <strong>Made by Peter Anh</strong>
    </div>
</footer>