<div class="navbar-header">
    <a href="<%= displayConf.prefix.mess %>" class="navbar-brand"><b>Messenger</b></a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
    </button>
</div>