<div class="modal fade" id="forgot-pass-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <% 
                let forgotPassFormAction = `${displayConf.prefix.auth}/send-update-pass-email`;
            %> 
            <form action="<%=forgotPassFormAction%>" method="post" id="forgot-pass-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Forgot your pass?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" required="required" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We will send you a link to update your new password</small>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="fogot-pass-btn" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>