<!DOCTYPE html>
<html lang="en">
<head>
	<%- include(__path.views_auth+'/mess/elements/head') %>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('messenger_login_theme/images/bg-02.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<%- body %>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<%- include(__path.views_auth+'/mess/elements/scripts') %>
</body>
</html>