<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
            <a href="/">
                <img class="img-fluid" src="news_theme/img/logo.png" alt="">
            </a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
            <img class="img-fluid" src="news_theme/img/banner-ad.jpg" alt="">
        </div>
    </div>
</div>