<div class="main-content">
    <!-- user rooms -->
    <div class="box-header with-border">
        Your rooms
    </div>
    <div class="box-body">
        <div class="user-rooms row">
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Chat</a>
                </div>
            </div>
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Chat</a>
                </div>
            </div>
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Chat</a>
                </div>
            </div>
        </div>
    </div>

    <!-- all rooms -->
    <div class="box-header with-border">
        All rooms
    </div>
    <div class="box-body">
        <div class="all-rooms row">
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Join</a>
                </div>
            </div>
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Join</a>
                </div>
            </div>
            <div class="room col-sm-6 col-lg-4 ">
                <div class="col-xs-7 room-avatar">
                    <img src=".//files/room/resize/fQUISUBHBR.png" class="rooms-list-img" alt="Bootstrap">
                    <h5 class="room-name">Bootstrap</h5>
                    <small>Member: 5</small>
                </div>
                <div class="col-xs-5 one-row-btns">
                    <a href="/messenger/room/5e513966e5864934e4492392" class="btn btn-block btn-primary">Join</a>
                </div>
            </div>
        </div>

    </div>
</div>