<% if (rooms.length > 0) { %>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Rooms</h3>
                <span data-toggle="tooltip" title="" class="badge bg-light-blue count" ><%= rooms.length %></span>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body scroll-box">
                <% for (let item of rooms) { %>
                        <%- include(__path.views_mess+'/partials/single_room', {item}) %>
                <% } %>
            </div>
            <!-- /.box-body -->
        </div>
<% } %>